.root {
    -fx-font-family: Roboto, Arial;
}

.table-view {
    -fx-border-color: #ffffff;

}

.table-view *.filler,.table-view *.column-header  {
    -fx-background-color: #ffffff;
    -fx-border-color: #646464;
    -fx-border-width: 0 0 1 0;
}

.settingsHeader {
    -fx-font-size: 14px;
    -fx-text-fill:#646464 ;
}

.root   {
    -fx-background-color: #ffffff;
    -fx-text-fill: #444444;
}

/*######## BUTTONS ########*/

.button, .toggle-button {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: #f1f1f1;
    -fx-border-color: #e1e1e1;
    -fx-text-fill: #444444;
}

.button:hover, .toggle-button:hover {
    -fx-border-color: #2091d2;
}

.button:pressed,.toggle-button:pressed, .toggle-button:selected {
    -fx-background-color: #2091d2;
    -fx-border-color: #2091d2;
    -fx-text-fill: #ffff;
}

#navbar > .toggle-button {
    -fx-background-color: #e6e6ea;
    -fx-border-color: #e6e6ea;
}

#navbar > .toggle-button:hover, #toolBar > .button:hover {
    -fx-background-color: #b4c5e4;
    -fx-border-color: #b4c5e4;
    -fx-border-radius: 2;
}

#navbar > .toggle-button:selected, #toolBar > .button:pressed {
    -fx-background-color: #2091d2;
    -fx-border-color: #2091d2;
    -fx-text-fill: #ffff;
}

#toolBar > .button {
    -fx-background-color: #e6e6ea;
    -fx-border-color: #e6e6ea;
}

#navbar {
    -fx-background-color: #e6e6ea;
}


/*######## TABS ########*/

.tab   {
    -fx-background-color: #f1f1f1;
    -fx-border-color: #e1e1e1;
    -fx-text-fill: #444444;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.tab:hover {
    -fx-border-color: #2091d2;
}

.tab:selected  {
    -fx-background-color: #2091d2;
    -fx-border-color: #2091d2;
}

.tab:selected .tab-label{
    -fx-text-fill: #ffffff;
}

/*######## CHECKBOX ########*/

.check-box .box {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: #f1f1f1;
    -fx-border-color: #e1e1e1;
}

.check-box:selected .mark {

    -fx-background-color: #2091d2;

}

.check-box:selected .box {

    -fx-background-color: #ffffff;
}

/*######## COMBO BOX ########*/

.combo-box .arrow, .combo-box .arrow-button{
    -fx-background-color: transparent;
}

/*######## DATE PICKER ########*/


.date-picker > .text-field {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: #ffffff;
}

.date-picker-popup > .month-year-pane {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: #ffffff;
    -fx-border-color: #e1e1e1;
    -fx-text-fill: #444444;
}

/*######## OTHER ########*/

.tab-pane .tab-header-area .tab-header-background  {
    -fx-background-color: #ffffff;
}

.text-field {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.menu-bar   {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: #e1e1e1;
    -fx-background-color: #ffffff;
    -fx-text-fill: #444444;
}

.combo-box-base {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: #f1f1f1;
    -fx-border-color: #e1e1e1;
    -fx-text-fill: #444444;
}

. button .image-view.spin {
    -fx-animation: spin 2s linear infinite;

}

.text-field.error   {
    -fx-border-color: #ff2530;
    -fx-focus-color: #ff2530;
}

.date-picker.error > .text-field   {
    -fx-border-color: #ff2530;
    -fx-focus-color: #ff2530;
}
.label.error    {
    -fx-text-fill: #ff2530;
}