body {
    -fx-font-family: Roboto, Arial;
}

.settingsHeader {
    -fx-font-size: 14px;
    -fx-text-fill:#646464 ;
}

.root   {
    -fx-background-color: #ffffff;
    -fx-text-fill: #444444;
}

/*######## BUTTONS ########*/

.button {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: #f1f1f1;
    -fx-border-color: #e1e1e1;
    -fx-text-fill: #444444;
}

.button:hover   {
    -fx-border-color: #2091d2;
}

.button:pressed {
    -fx-background-color: #2091d2;
    -fx-border-color: #2091d2;
    -fx-text-fill: #ffffff;
}

/*######## TABS ########*/

.tab   {
    -fx-background-color: #f1f1f1;
    -fx-border-color: #e1e1e1;
    -fx-text-fill: #444444;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.tab:hover {
    -fx-border-color: #2091d2;
}

.tab:selected  {
    -fx-background-color: #2091d2;
    -fx-border-color: #2091d2;
}

.tab:selected .tab-label{
    -fx-text-fill: #ffffff;
}

/*######## CHECKBOX ########*/

.check-box .box {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: #f1f1f1;
    -fx-border-color: #e1e1e1;
}

.check-box:selected .mark {

    -fx-background-color: #2091d2;

}

.check-box:selected .box {

    -fx-background-color: #ffffff;
}

/*######## DATE PICKER ########*/

.date-picker > .text-field {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: #ffffff;
}

.date-picker-popup > .month-year-pane {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: #ffffff;
    -fx-border-color: #e1e1e1;
    -fx-text-fill: #444444;
}

/*######## OTHER ########*/

.tab-pane .tab-header-area .tab-header-background  {
    -fx-background-color: #ffffff;
}

.text-field {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.menu-bar   {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: #e1e1e1;
    -fx-background-color: #ffffff;
    -fx-text-fill: #444444;
}

.combo-box-base {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: #f1f1f1;
    -fx-border-color: #e1e1e1;
    -fx-text-fill: #444444;
}

.text-field.error {
    -fx-border-color: rgba(255, 0, 0, 0.3);
    -fx-border-width: 2px;
    -fx-focus-color: red;
}
